# Files to ignore:
gitCmds.txt
output.txt
*.iml
**/launccodemario/FilePrint.java
**/launccodemario/ConsolePrint.java
**/launccodemario/PrintSwitch.java
**/launccodemario/MarioPrint.java

# Folders to ignore:
out/
.idea/
#ignore .class files from output:
target/